doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{docTitle}
    link(rel="stylesheet", href="/css/shop.css")
  body 
    header
      nav 
        ul.nav 
          li.nav__item 
            a(href="/") Home
          li.nav__item 
            a(href="/admin/add-product") Add product
    main 
      ul
        each product in props   
          li #{product.title}